.contenedor{
    display: flex;
    flex-direction: column;
    width: 300px;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: darkslateblue;
}

button{
    background-color: aqua;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

