.contenedor{
    display: flex;
    flex-direction: column;
    width: 300px;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

button{
    background-color: aqua;
}