.contenedor{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid;
   padding: 30px;
    box-shadow: 10px 1px 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(240, 171, 22);
    
}

.fernando{

    padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menor{
    background-color: red;
}
